In [1]:
import pandas as pd

In [22]:
notes = {"maths" : 19,
         "Anglais" : 12,
         "Géo" : 15}

In [32]:
Ser=pd.Series(notes) ; Ser

maths      19
Anglais    12
Géo        15
dtype: int64

In [34]:
Ser["Français"]=8

In [35]:
print(Ser)

maths       19
Anglais     12
Géo         15
Français     8
dtype: int64

In [7]:
Ser.index #Les noms

['maths', 'Anglais', 'Géo']

In [ ]:
Ser.values #Les valeurs

In [11]:
print(f"Meilleur note {Ser['maths']} ")

Meilleur note 10

In [12]:
import numpy as np

In [28]:
Gens = pd.Series(np.array([52,47,39]),index=["Pierre","Paul","Jacques"],name="âge")

In [29]:
Gens=Gens.rename("Taille de...")
Gens

Pierre     52
Paul       47
Jacques    39
Name: Taille de..., dtype: int64

In [30]:
print(Gens["Pierre":"Jacques"])

Pierre     52
Paul       47
Jacques    39
Name: Taille de..., dtype: int64

In [39]:
Pays=pd.Series(["France","Italie","Espagne"], index=[1,2,7])
print(Pays[2])
print(Pays.iloc[2])
print(Pays.loc[7])

Italie
Espagne
Espagne

In [36]:
pd.concat([Gens,Pays])

Pierre          52
Paul            47
Jacques         39
1           France
2           Italie
7          Espagne
dtype: object